/* __________MMA__________ */
//#region MMA

header {
  background: #334756;

  .row {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav ul {
    display: flex;
    gap: 40px;
  }

  .col-auto ul li a {
    color: #fff;
    font-family: Ramabhadra, sans-serif;
    font-size: 17px;
    font-weight: 400;

    &:hover {
      color: #ff4c29;
    }
  }
}

//#endregion MMA

/* __________HERO-SECTION__________ */

.hero-section {
  .container {
    background: url(../img/hero/Group\ 17604.png) no-repeat right;
    min-height: 651px;
  }

  .co-working-space-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;

    h1,
    span {
      font-family: Ramabhadra, sans-serif;
      font-size: 48px;
      font-weight: 400;
    }

    h1 {
      width: 592px;
      height: 273px;
      margin: 90px 711px 0 0;
      color: #334756;
    }

    span {
      color: #ff4c29;
    }

    h2 {
      color: #667580;
      text-align: center;
      font-family: Ramabhadra, sans-serif;
      font-size: 20px;
      font-weight: 400;
    }

    .links {
      display: flex;
      gap: 24px;

      .book-btn,
      .contact-us-btn {
        display: flex;
        height: 56px;
        min-width: 284px;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 1px solid #667580;
        font-family: Ramabhadra, sans-serif;
        font-size: 24px;
        font-weight: 400;
      }

      .book-btn {
        background-color: #ff4c29;
        color: #fff;
      }

      .contact-us-btn {
        flex: 1 0 0;
        color: #334756;
      }
    }
  }
}

//#region MAK

.section-1 {
  padding-bottom: 1px;
  background: #f6f6f6 url(../img/section1/image.png) no-repeat top right;
}

#text-group-1,
#text-group-2 {
  display: flex;
  flex-direction: column;
  padding: 126px 0 124px;
  gap: 24px;
}

#text-group-2 {
  width: 580px;
  margin-left: auto;
}

#title-1,
#title-2,
#span-1,
#span-2 {
  color: #334756;
  font-family: Ramabhadra, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
}

#span-1,
#span-2 {
  color: #ff4c29;
  font-family: Ramabhadra;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
}

#p-1,
#p-2 {
  color: #667580;
  font-family: Ramabhadra, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
}

.section-4 {
  background: #f6f6f6 url(../img/section4/image.png) no-repeat;
  margin: 150px 0 80px;
}

//#endregion MAK

//#region AMK

.form {
  padding: 100px 0 150px;

  .row {
    justify-content: center;
  }

  .backg {
    background: #334756;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
  }

  .back {
    width: 100%;
    max-width: 508px;
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 100%;

    h3 {
      font-size: 32px;
      font-weight: 400;
      line-height: 61px;
      margin-bottom: 40px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    :where(input, select, textarea) {
      padding: 8px 16px;
      outline: none;
      color: #667580;
      font-size: 14px;
      font-weight: 400;
      border: none;
      border-radius: 2px;
    }

    input,
    select {
      height: 56px;
    }

    #Country {
      appearance: none;
      position: relative;
    }

    .country div {
      position: relative;

      svg {
        pointer-events: none;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
      }
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &.tl {
        flex-direction: row;
        align-items: center;
        gap: 4px;

        select {
          width: 50px;
          padding-left: 8px;
        }

        input {
          width: 100%;
        }
      }

      label {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
      }

      textarea {
        height: 142px;
        resize: vertical;
      }
    }

    button {
      display: flex;
      height: 56px;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      border: 2px solid #ff4c29;
      background: #ff4c29;
      font-size: 24px;
      font-weight: 400;
      color: #fff;
      margin-top: 16px;
      transition: all 0.3s;

      &:hover {
        background: #ffffffb8;
        color: #ff4c29;
      }
    }
  }

  img {
    height: 100%;
  }
}

//#endregion AMK

//#region MEA

.customers {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  h2 {
    color: #334756;
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: -2px;
    text-align: center;

    span {
      color: #ff4c29;
    }
  }

  .row {
    display: flex;
    gap: 24px;
  }

  .text-group {
    background: #334756 url(../img/man/Vector.svg) no-repeat top 24px left 24px;
    padding: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.6;
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 4px;

      h4 {
        font-size: 16px;
        font-weight: 400;
      }
    }

    .img {
      display: flex;
      align-items: center;
      gap: 14px;
    }
  }
}

//#endregion MEA

//#region MSM

footer {
  background: #334756;
  padding: 40px 96px;
  .container {
    display: flex;
    justify-content: space-between;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    .text-icon ul {
      display: flex;
      gap: 16px;
    }

    .para p {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    gap: 64px;

    .col-auto {
      h3 {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 24px;
      }

      a {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 9px;
      }
    }
  }
}

//#endregion MSM
